<!DOCTYPE html>
<html lang="en">
 <head>
  <title> Views (and other themes, apart from fish, insects, animals) </title>
  <meta content="Photos of far views of city, field, sea or sky. Sunsets." name="description">
  <meta content="field, landscape, nature, sky, wood," name="keywords">
  <meta content="Eugene Kornienko" name="author">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta charset="utf-8">
  <link href="https://cord70.github.io/photo/photo/view/en.html" hreflang="en" rel="alternate">
  <link href="https://cord70.github.io/photo/photo/view/index.html" hreflang="ru" rel="alternate">
  <link href="https://cord70.github.io/photo/photo/view/en.html" rel="canonical">
  <link href="https://cord70.github.io/photo/favicon.svg" rel="icon" sizes="any" type="image/svg+xml">
  <link href="https://cord70.github.io/photo/photo/view/index.html" hreflang="x-default" rel="alternate">
  <link href="../../images/main.css" rel="stylesheet">
  <script defer="" src="navView.js"> </script>
  <script defer="" src="../../images/ansimeta.js"> </script>
 </head>
 <body>

  <header>
  </header>

  <main>

   <h2> Views </h2>

   <p> A few photos from other sections. </p>

   <p class="leftc">
    <a href="forest-en.html">
     <img alt="Rim of wood" height="150" src="200/forest.jpg" title="I see no trees
      but one forest entity" width="200">
     <br> Forest </a> </p>

   <p class="leftc">
    <a href="../crete/sunset-en.html">
     <img alt="Sun sets in the mediterranean
      sea" height="150" src="../crete/200/sunset.jpg" title="Sunset over Crete" width="200">
     <br> Night view </a> </p>

   <p class="leftc">
    <a href="steel-spring-en.html">
     <img alt="Still life - a
      steel spring." height="150" src="200/steel-spring.jpg" title="The spring was snapped in 2000 by a camera
      HP C200 1mp" width="200">
     <br> Steel spring </a> </p>

   <p class="leftc">
    <a href="../red-sea/horizon-en.html">
     <img alt="Wide blue Red Sea
      clear upto horizon" height="150" src="../red-sea/200/horizon.jpg" title="Clear Red Sea" width="200">
     <br> Red Sea is clear </a> </p>

   <p class="leftc">
    <a href="../red-sea/tyran_island_sunrise-en.html">
     <img alt="Sunrise
      view at Tyrant island from the site of Conrad resort" height="150" src="../red-sea/200/tyran_island_sunrise.jpg" title="Sunrise
      at Conrad resort (Coral Sea Sensatori Resort)" width="200">
     <br> Sunrise </a> </p>

   <p class="leftc">
    <a href="../red-sea/mosque-en.html">
     <img alt="Mosque and mountains
      on the background of sunset" height="150" src="../red-sea/200/mosque.jpg" title="Sunset at Naama-bay" width="200">
     <br> Sunset at Sinai </a> </p>

   <p class="leftc">
    <a href="../flame/en.html">
     <img alt="The hottest flame is
      distant from match head. Near the head there is a dark zone." height="150" src="../flame/200/hot-flame.jpg" title="Match, Candle and others" width="200">
     <br> Flame </a> </p>

   <p class="leftc">
    <a href="../water/en.html">
     <img alt="A big drop of rain water
      in fir tree needles" height="150" src="../water/200/fir-water.jpg" title="Views of sea, Drops of water, Forest
      bogs" width="200">
     <br> Water </a> </p>

   <p class="cr">
    <a href="../../post/email-en.html" rel="author">
     Eugene Kornienko </a> </p>
  </main>

  <div id="menu">
  </div>

  <footer>
  </footer>

  <noscript>
   <div>
    
   </div> </noscript>
 </body>
</html>