<!DOCTYPE html>
<html lang="ru">
 <head>
  <title> Натюрморт - Стальная пружина </title>
  <meta content="Фотография сделана очень давно (в 2000 году) одной из первых цифровых камер HP-C200" name="description">
  <meta content="красивая, освещение, природа, пружинка, старое, тень," name="keywords">
  <meta content="Евгений Корниенко" name="author">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta charset="utf-8">
  <link href="https://cord70.github.io/photo/photo/view/steel-spring-en.html" hreflang="en" rel="alternate">
  <link href="https://cord70.github.io/photo/photo/view/steel-spring.html" hreflang="ru" rel="alternate">
  <link href="https://cord70.github.io/photo/photo/view/steel-spring.html" rel="canonical">
  <link href="https://cord70.github.io/photo/favicon.svg" rel="icon" sizes="any" type="image/svg+xml">
  <link href="../../images/main.css" rel="stylesheet">
  <script defer="" src="navView.js"> </script>
  <script defer="" src="../../images/ansimeta.js"> </script>
 </head>
 <body>

  <header>
  </header>

  <main>
   <p class="center">
    <a href="images/steel-spring.html">
     <img alt="стальная пружина" height="450" src="600/steel-spring.jpg" title="Натюрморт
      со стальной пружиной на белом листе" width="600"> </a> </p>

   <h2> Стальная пружина </h2>

   <p> Фото сделано камерой
    <a href="../../workshop/HP-C200.html">
     HP-C200 </a>
    (1&nbsp;мегапиксель) </p>

   <div class="cr sel">
    &nbsp;
   </div>

   <p class="rightc">
    <a href="images/wire.html">
     <img alt="Длинный провод на фоне неба
      протянулся по диагонали кадра" height="150" src="200/wire.jpg" title="Длинный-длинный провод" width="200">
     <br> 3 провода </a> </p>

   <p> Тоже старинная камера HP-C200.
    <br> На фото высоковольтная линия из трёх проводов. Небо чистое,
            но вдали из-за дымки цвет неба немного испорчен. Сюжет этой фотографии
            напоминает "Чёрный квадрат" - не на чем остановить взгляд. Поэтому
            картинка годится в качестве обоев для рабочего стола PC. </p>

   <div class="cr sel">
    &nbsp;
   </div>

   <p class="rightc">
    <a href="../../workshop/HP-C200.html">
     <img alt="Как
      заставить муху остановиться? Я дал ей капельку воды с сахаром." height="144" src="../../workshop/images/fly-drink-droplet.jpg" title="Макросъёмка простой камерой" width="200">
     <br> </a> </p>

   <p> Макросъёмка через увеличительное стекло камерой HP-C200 </p>
  </main>

  <div id="menu">
  </div>

  <footer>
  </footer>

  <noscript>
   <div>
    
   </div> </noscript>
 </body>
</html>