<!DOCTYPE html>
<html lang="ru">
 <head>
  <title> Лес выглядит как живое существо, 1024x768 </title>
  <meta content="Кажется, что массив леса не состоит из деревьев, а это просто *живой Лес*." name="description">
  <meta content="небо, опушка леса, поляна, природа, съёмка, фото лесов, фотография, холм," name="keywords">
  <meta content="Евгений Корниенко" name="author">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta charset="utf-8">
  <link href="https://cord70.github.io/photo/photo/view/images/forest-en.html" hreflang="en" rel="alternate">
  <link href="https://cord70.github.io/photo/photo/view/images/forest.html" hreflang="ru" rel="alternate">
  <link href="https://cord70.github.io/photo/photo/view/images/forest.html" rel="canonical">
  <link href="https://cord70.github.io/photo/favicon.svg" rel="icon" sizes="any" type="image/svg+xml">
  <link href="../../../images/main.css" rel="stylesheet">
  <script defer="" src="../../../images/ansimeta.js"> </script>
 </head>
 <body>

  <header>
   <p id="navstring"> </p>
  </header>

  <main>
   <p> <a href="../forest.html">
     <img alt="Массив леса, уходит в даль, и воспринимается,
      как одно существо" height="768" src="forest.jpg" title="Массив леса как одно существо" width="1024">
     <br> лес уходит в даль </a> </p>
  </main>

  <footer>
  </footer>

  <noscript>
   <div>
    
   </div> </noscript>
 </body>
</html>